<div class="container">
    <div class="row mt-5">
        <div class="col-8">
            <div class="card">
                <h2 class="card-header">Crear usuario</h2>
                <div class="card-body">
                    <form #usuarioForm="ngForm" (ngSubmit)="addUsuario(usuarioForm)">
                        <div class="mb-3">
                            <label for="name" class="form-label">Nombre:</label>
                            <input type="text" class="form-control" name="name" id="name" ngModel>
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Email:</label>
                            <input type="email" class="form-control" name="email" id="email" ngModel>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Contraseña:</label>
                            <input type="password" class="form-control" name="password" id="password" ngModel>
                        </div>
                        <div class="mb-3">
                            <label for="confirmPassword" class="form-label">Confirmar contraseña:</label>
                            <input type="password" class="form-control" name="confirmPassword" id="confirmPassword"
                                ngModel>
                        </div>
                        <div class="mb-3">
                            <input type="submit" class="btn btn-primary" value="Registrarse">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 
<div class="card">
                <h2 class="card-header">Ingresar usuario</h2>
                <div class="card-body">
                    <form #usuarioForm="ngForm" (ngSubmit)="logUsuario(usuarioForm)">
                        <div class="mb-3">
                            <label for="email" class="form-label">Email:</label>
                            <input type="email" class="form-control" name="email" id="email" ngModel>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Contraseña:</label>
                            <input type="password" class="form-control" name="password" id="password" ngModel>
                        </div>
                        <button type="submit" class="btn btn-primary">Ingresar</button>
                    </form>
                </div>
            </div>

-->